<h2 class="text-center mb-3">Detalles del Paciente</h2>
<div class="row d-flex justify-content-start mb-2">
    <div class="col-sm-2">
        <label for="cedula">Cedula</label>
        <input readonly type="text" name="cedula" id="cedula" value="<%=cedula%>" class="form-control">
    </div>
    <div class="col-sm-3">
        <label for="nombres">Nombres</label>
        <input readonly type="text" name="nombres" id="nombres" value="<%=nombres%>" class="form-control">
    </div>
    <div class="col-sm-3">
        <label for="apellidos">Apellidos</label>
        <input readonly type="text" name="apellidos" id="apellidos" value="<%=apellidos%>" class="form-control">
    </div>
    <div class="col-sm-3">
        <label for="telefono">Teléfono</label>
        <input readonly type="text" name="telefono" id="telefono" value="<%=telefono%>" class="form-control">
    </div>
</div>
<div class="row d-flex justify-content-start">
    <div class="col">
        <label for="direccion">Dirección</label>
        <input readonly type="text" name="direccion" id="direccion" value="<%=direccion%>" class="form-control">
    </div>
</div>
